.row{
   margin: 30px;
   margin-bottom: 0px;
}
.logo{
   position: relative;
   left:2%;
}
.page{
   position: relative;

  right: 1%;
}
#img1{
   width: 195px;
   height: 95px;
}
#img2{
   width: 70px;
   height: 70px;
}
.left{
  text-align: left;
  line-height: 0.8cm;
}
.right{
   display: flex;
   position: relative;
   top:20%;
}
.right p{
   font-size: 22px;

}
.blue{
   color: rgb(62, 204, 255);
}
.large{
   font-size: 30px;
}
.med{
   font-size: 20px;
}
li{
   list-style-type: none;
   line-height: 0.8cm;
}
li h4{
   font-weight: 800;
}
li a{
   color: rgb(62, 204, 255);
}
.alp{
   width:37px;
   margin-right: 2px;
   color:white;
 background-color:rgb(62, 204, 255);
}
.size{
   font-size: 14px;
   font-weight: 500;
}
.addemp{
   color:white;
   background-color:rgb(62, 204, 255);
}
#line{
   margin-left: 20px;
border-bottom: 2px solid rgb(170, 160, 160);
}
.listhidden{
   display: none;
}
.part2{
   margin: -10px;
   /* margin-right: 200px; */
}
.filter{
   margin-top: 30px;
}
.row2 .searchbtn{
   width: 40%;
   height: 35px;
   position: absolute;
}
.row2 #iconsearch{
   position: relative;
   top:30%;
   left: 3%;

}
.clear{
   position: relative;
   left:60%;
}
.row2 .filterbtn{
   position: absolute;
   width: 40%;
   height: 35px;

}
.row2 #icontri{
   position: relative;
   left: 35%;
   top:10px;
}
.results_box{
   height: 520px;
   border: 3px solid silver;
   margin: 20px;
   margin-top: 20px;
   display: grid;
   grid-template-rows: 170px;
   grid-template-columns: 265px 265px 265px 265px;

}
.emp{
   margin: 5px;
   margin-top: 10px;
   padding: 10px;
   background-color: rgb(234, 232, 232);
   width: 255px;
   height: 150px;
}
.profilepic{
   width: 80px;
   height: 100px;
   float: left;
   padding-top: 15px;
   padding-right: 20px;
}
.filter_dept{
   color: black;
}
.card_content{
 padding-top: 0px;

}
.emp h3{
   padding-top: 15px;
   padding-left: 10px;
   padding-bottom: 5px;
font-size: 16px;
font-weight: 700;
line-height: 17px;
}

.emp p{
   padding-left: 10px;
font-size: 14px;
line-height: 10px;
color: rgb(38, 35, 35);
}
.links{
   line-height: 10px;
   padding-left: 10px;
}
.icons{

   color: rgb(110, 119, 119);
   font-size: 15px;
}
.slct{
   width: 190px;
   height: 40px;
}
.add{
   background-color: blue;
}
.sel{
   width: 270px;
   height: 30px;
}
#bg-modal{
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.4);
   position: absolute;
   top:0;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}
.modal-contents{
width: 500px;
height: 450px;
background-color: white;
border-radius: 5px;
padding: 20px;
position: relative;
}
#close{
   position: absolute;
   top:0;
   right: 14px;
   font-size: 42px;
   transform: rotate(45deg);
   cursor: pointer;
}
#pp{
margin-left: 190px;
width: 100px;
height: 100px;
}
.card_contents{
   padding-top: 80px;
   padding-left: 80px;

}
#edit{
   text-align: center;
   margin-left: 120px;

}
.card_contents .span{
   color: rgb(62, 204, 255);
   font-weight: 600;


}
.editdata input{
border: none;
}
#Prename{
   padding-left: 20px;
}
#fnerror{
   color: red;
}
#lnerror{
   color: red;
}
#pnerror{
   color: red;
}
#mailerror{
   color: red;
}
#jterror{
   color: red;
}
#deperror{
   color: red;
}
#phnerror{
   color: red;
}
#skyperror{
   color: red;
}
#offcerror{
   color: red;
}
.card_contents td{
   font-size: 17px;
   font-weight: 500;
}

#update{
   text-align: center;
   margin-left: 120px;
}
@media only screen and (max-width: 580px) {
   body {
     background-color: rgb(224, 231, 234);
     position: relative;
     overflow-x: hidden;
   }
   .header{
       display: flex;


   }
   #img1{
       width: 295px;
       height: 195px;
      margin-left: 250px;

    }
    #img2{
       width: 200px;
       height: 170px;
    }
    .left{
       display: flex;
       flex-direction: column;
       width: max-content;
       line-height: 2cm;
     }
     .large{
       font-size: 90px;
    }
    .med{
       font-size: 65px;
    }
    .right p{
       padding-right: 30px;
       font-size: 70px;
       font-weight: 500;

    }
    .right{
       display: flex;
       position: relative;
       top:8%;
    }
.filter{
   margin-top: 200px;
}
    #line{
       margin: 20px;
       margin-top: 50px;
    border-bottom: 4px solid rgb(18, 17, 17);
    width: 350%;
    }
    .part2{

    }
    .size{
       font-size: 50px;
       line-height: 2.5cm;
       font-weight: 400;
    }
    li h4{
       font-size: 60px;
       font-weight: 700;
    }
    li{
       list-style-type: none;
       line-height: 1.5cm;
       font-size: 60px;
       width: max-content;
    }
    .ul{
       display: grid;
    }
    .row1{
      width: 520%;
    }
    .rowalp{
       width: 560%;
    }
    .alp{
      position: relative;
       width:77px;
       font-size: 40px;
       height: 70px;
       margin-right: 15px;
       margin-bottom: 5px;
       color:white;
     background-color:rgb(62, 204, 255);
    }
    .row2{
       width: max-content;
    }
    label{
       font-size: 50px;
    }
    .searchClass{
      position: relative;
      top:-1950px;
     margin-bottom: 20px;
     width: fit-content;
     margin-top: -180px;
    }
    #search{
      width: 40%;
      height: 70px;
      height: 60px;
      position: relative;
      top:-2300%;
      left: 10%;
      border: 1px solid red;
      font-size: 40px;
    }

    .filterClass{
      position: relative;
      top:-1930px;
      margin-bottom: 30px;
    }
    .slct{
      width: 40%;
      height: 70px;
      position: relative;
      top:-1930px;
      left: 10%;
      font-weight: 600;
     font-size: 40px;
     font-weight: 300;
     margin-bottom: 30px;
    }
    .slct option{
      font-size: 20px;
    }
    .clr{
      width: 30%;
      height: 70px;
      font-size: 40px;
      position: relative;
      left: -55%;


   }
   .sort{
      font-size: 60px;
      position: relative;
      top:-100%;

      margin-right: 10px;
   }
    .addBtn{
       height: 70px;
       width: 30%;
       font-size: 40px;
       margin-top: -10%;
       /* margin-top: 50px; */

    }
    .results_box{
     height: 60%;
     width:80% ;
     border: 3px solid rgb(19, 19, 19);
     margin-left: 100px;
     margin-top: 20px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;

  }
  .emp{
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     padding: 20px;
     margin-bottom: 20px;
     background-color: rgb(234, 232, 232);
     width: 800px;
     height: 450px;

  }
  .profilepic{
     width: 250px;
     height: 300px;
     float: left;
     padding-top: 45px;
     padding-right: 20px;
  }
  .emp h3{
     font-size: 50px;
     line-height: 1.5cm;

  }
  .emp p{
     font-size: 40px;
     line-height: 1.5cm;
  }
  .icons{

     color: rgb(110, 119, 119);
     font-size: 35px;
  }
  #bg-modal{
     width: 400%;
     height: 100%;
     background-color: rgba(196, 192, 192, 0.4);
     position: absolute;
     top:0;
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
  }
  .modal-contents{
     width: 80%;
     height: 1000px;
     background-color: white;
     border-radius: 5px;
     padding: 20px;
     position: relative;
     }
     #close{
        position: absolute;
        top:0;
        right: 14px;
        font-size: 80px;
        transform: rotate(45deg);
        cursor: pointer;
     }
     .card_contents h3{
       font-size: 80px;
     }
     .modal-contents td{
        font-size: 45px;
     }
     #edit{
        text-align: center;
        margin-left: 450px;
       font-size: 50px;
     }
     #update{
        text-align: center;
        margin-left: 420px;
        font-size: 50px;
     }
     #pp{
        width: 350px;
        height: 400px;
     }
     #Prename{
        font-size: 80px;
       font-weight: 600;
     }
     .empModal{
        background-color: rgba(0,0,0,0.2);
        margin-top: 50px;
        margin-left: 100px;
        height: 2800px;
        width: 150%;
     }
     .empModal .input{
      font-size: 50px;
     }
     .empModal .input option{
      font-size: 10px;
     }
     .empModalTitle{
        font-size: 60px;
     }
   .input{
     height: 90px;
   }
   #emp_button{
     font-size: 40px;
   }
   #fnerror{
     color: red;
     font-size: 40px;
  }
  #lnerror{
     color: red;
     font-size: 40px;
  }
  #pnerror{
     color: red;
     font-size: 40px;
  }
  #mailerror{
     color: red;
     font-size: 40px;
  }
  #jterror{
     color: red;
     font-size: 40px;
  }
  #deperror{
     color: red;
     font-size: 40px;
  }
  #phnerror{
     color: red;
     font-size: 40px;
  }
  #skyperror{
     color: red;
     font-size: 40px;
  }
  #offcerror{
     color: red;
     font-size: 40px;
  }
  .close{
     font-size: 50px;
  }
  .radio{
     size: 20px;
  }
#file{
  width:150px;
}
}
