.row{
    margin: 30px;
    margin-bottom: 0px;

}
.logo{
    position: relative;
    left:2%;
}
.page{
    position: relative;

   right: 1%;
}
 .left{

   text-align: left;
   line-height: 0.8cm;
}
.right{
    display: flex;
    position: relative;
    top:20%;
}
.right p{
    font-size: 22px;

}
.blue{
    color: rgb(62, 204, 255);
}
.large{
    font-size: 30px;
}
.med{
    font-size: 20px;
}
li{
    list-style-type: none;
    line-height: 0.8cm;
}
li h4{
    font-weight: 800;
}
li a{
    color: rgb(62, 204, 255);
}
.alp{
    width:40px;
    color:white;
  background-color:rgb(62, 204, 255);
}
.addemp{
    color:white;
    background-color:rgb(62, 204, 255);
}
#line{
    margin-left: 20px;
 border-bottom: 2px solid rgb(170, 160, 160);
}
.listhidden{
    visibility: hidden;
}
.part2{
    margin: 0px;
    margin-right: 200px;
}

.row2 .searchbtn{
    width: 40%;
    height: 35px;
    position: absolute;
}
.row2 #iconsearch{
    position: relative;
    top:30%;
    left: 3%;

}
.clear{
    position: relative;
    left:60%;
}
.row2 .filterbtn{
    position: absolute;
    width: 40%;
    height: 35px;

}
.row2 #icontri{
    position: relative;
    left: 35%;
    top:10px;
}
.results_box{
    height: 400px;
    border: 3px solid silver;
    margin: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 170px;
    grid-template-columns: 290px 290px 290px 290px;

}
 .emp{
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(234, 232, 232);
    width: 280px;
    height: 150px;
 }
 .profilepic{
    width: 100px;
    height: 110px;
    float: left;
    padding-top: 12px;
    padding-right: 20px;
 }
 .filter_dept{
    color: black;
 }
 .card_content{
  padding-top: 0px;

 }
 .emp h3{
    padding-left: 10px;
font-size: 15px;
font-weight: 600;
 }
 .emp p{
    padding-left: 10px;
font-size: 13px;
color: rgb(38, 35, 35);
 }
 .links{
    padding-left: 10px;
 }
 .glyicon{
    color: rgb(45, 44, 44);

 }
 .slct{
    width: 180px;
    height: 35px;
 }
.add{
    background-color: blue;
}
.sel{
    width: 270px;
    height: 30px;
 }
